/JavaApplication8/nbproject/private/
classes/
lib/error/
lib/ir/
src/CtdsLexer.java~
tests/corrects/prueba
src/CtdsLexer.java
src/parser.java
src/sym.java
src/CtdsParser.java
src/CtdsSymbol.java
.directory